@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

 :root {
  --primary: #3B82F6;

  --text: #F9FAFB;
  --text-dull: rgba(255,255,255,0.65);

  --bg-primary: #0B0B0C;
  --bg-secondary: #111113;

  --bg-card: #18181B;
  --bg-card-hover: #1F1F23;

  --bg-icon: #23232A;
  --bg-icon-hover: #3B82F6;

  --icon-color: #93C5FD;
  --icon-hover-color: #93c4fd57;

  --border: rgba(255, 255, 255, 0.12);
}


.light {
  --primary: #3B82F6;

  --text: #0B1220;
  --text-dull: #6B7280;

  --bg-primary: #F5F7FB;       /* page background */
  --bg-secondary: #EEF2F7;

  --bg-card: #FFFFFF;          /* cards */
  --bg-card-hover: #F9FAFB;

  --bg-icon: #E5EAF2;
  --bg-icon-hover: #3B82F6;

  --icon-color: #3B82F6;
  --icon-hover-color: #d6d6d6;

  --border: #E6EAF0;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}