@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

:root {
  --primary: #1D4ED8;
  --text: #FFFFFF;
  --text-dull:  rgba(255,255,255,0.7);
  --bg-card: #19191C;
  --bg-card-hover: #1F1F22;
  --bg-icon: #242833;
  --bg-icon-hover: #89ACFF;
  --icon-color: #89ACFF;
  --icon-hover-color: #002B6A;
  --bg-primary: #000000;
  --bg-secondary: #131315;
  --border: rgba(255, 255, 255, 0.2);

}

.light {
  --primary: #1D4ED8;
  --text: #0F172A;
  --text-dull: #64748B; 
  --bg-card: #FFFFFF;
  --bg-card-hover: #F8FAFC;
  --bg-icon: #E2E8F0;
  --bg-icon-hover: #1D4ED8;
  --icon-color: #1D4ED8;
  --icon-hover-color: #FFFFFF;
  --bg-primary: #FFFFFF;
  --bg-secondary: #F1F1F3;
  --border: #E5E7EB;
}